@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

.App-Cover {
  /* background-image: url("\milky-way.jpg"); */
  /* background-color: rgb(0, 112, 192); */
  /* background-color: rgb(102, 96, 158); */
  background-size: cover;

  /* 남청색 */
  background-color: rgb(0, 49, 83);
  min-height: 100vh;
  min-width: 100vw;
}

.App-Nav {
  background: rgba(255, 255, 255, 0.1);
  width: 100vw;
  height: 1vh;
  display: flex;
  color: white;
}

/* Indicator */
.Indicator {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Indicator-Border {
  /* border-left: 3px solid rgba(255, 255, 255, 1);
  border-right: 3px solid rgba(255, 255, 255, 1); */
  /* opacity: 0.75; */
  height: 50vh;
  max-height: 50vh;
  border-collapse: collapse;

  border-left: 0.3vw solid rgba(255, 223, 0, 1);
  border-right: 0.3vw solid rgba(255, 223, 0, 1);

  border-top: none;
  border-bottom: none;
  table-layout: fixed;

}

.Indicator-Content-Line {
  /* Size */
  width: 1.5vw;
  height: 2.5vh;

  max-width: 2.0vw;
  max-height: 25vh;

  min-width: 1.5vw;
  min-height: 25vh;

  /* Align */
  text-align: center;
  /* Font */
  font-size: calc(5px + 2vmin);
  font-weight: 100;
  font-family: 'Gowun Batang', serif;
  /* Style */
  color: white;

  border-top: 0.3vh solid rgba(255, 223, 0, 1);
  border-bottom: 0.3vh solid rgba(255, 223, 0, 1);
  /* border: 3px solid rgba(255, 255, 255, 0.75); */
}

.Indicator-Blank-Line {
  width: 1.25vw;
  height: 2.5vh;

  max-width: 2.0vw;
  max-height: 25vh;

  min-width: 1.5vw;
  min-height: 25vh;

  text-align: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;

  /* Border Style */
  border-left: 0.3vh solid rgba(255, 223, 0, 1);
  border-right: 0.3vh solid rgba(255, 223, 0, 1);

  border-top: none;
  border-bottom: none;
}

.Indicator-Last-Line {
  border-top: none;
  border-bottom: none;

  border-left: 0.3vh solid rgba(255, 223, 0, 1);
  border-right: 0.3vh solid rgba(255, 223, 0, 1);

  /* width: 1.25vw;
  height: 2.5vh;

  max-width: 2vw;
  max-height: 25vh; */
}

.Indicator-Date-Line {
  width: 1.25vw;
  height: 2.5vh;

  max-width: 3vw;
  max-height: 25vh;

  min-width: 1.5vw;
  min-height: 25vh;

  /* padding-left: 0.4vw; */
  /* padding-right: 0.4vw; */

  text-align: center;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  vertical-align: top;
  color: white;
  /* Border Style */
  border-left: 0.3vh solid rgba(255, 223, 0, 1);
  border-right: 0.3vh solid rgba(255, 223, 0, 1);

  border-top: none;
  border-bottom: none;
}

.Indicator-Date {
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* margin-top: 2.95vh; */
  font-size: calc(0px + 2vmin);
  font-weight: 100;
  font-family: 'Gaegu';
}

.Indicator-Option {
  border: none;
  background: rgb(0, 49, 83);
  color: white;
  margin: 15px;
}

/* 남청색(Prussian Blue), 쪽색(Black Blue), 바다색(Royal Blue), 연청색(Baby Blue), 회색, 해바라기색 */
/* rgb(0,49,83), rgb(0,0,139), rgb(65,105,255), rgb(137,207,240), rgb(128,128,128), rgb(255,223,0) */

/* .Stars{
  width : 15px;
  height : 15px;
  border-radius: 50%;
  background-color: white;
}

.BigDipper{
  background-size: cover;
  background-image: url("/src/BigDipper.png");
  display: flex; 
  float: left;
  align-items: center; 
  justify-content: center;
  min-width: 10vw;
  min-height: 300px;
  margin: 15px;
  width:  10vw;
  height: 10vh;
} */